.header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  border: 1px solid black;
  position: relative;
  padding: 15px;
}

.header h1 {
  margin: 0;
  margin-left: 20%;
  flex-grow: 1;
  text-align: center;
}

/**
.search {
text-align: left;
padding: 2px;
background-color: white;
color: gray;
width: 20%;
height: 30%;
border-style: solid;
position: absolute;
top: 30%;
right: 5%;
}
**/

.header input{
position: relative;
float: right;
padding: 5px;
padding-left: 5px;
box-sizing: border-box;
width: 160px;
margin-right: 10px;
color: black;
}

.sidebar {
overflow: hidden;
width: 25%;
}

.sidebar a {
display: block;
color: blue;
text-align: center;
padding: 15px;
margin-top: 10px;
text-decoration: none;
font-size: 20px;
}

.sidebar a:hover {
background-color: lightgray;
}

.top {
overflow: hidden;
display: flex;
align-items: center;
justify-content: space-between;
}

#all_q {
position: relative;
padding-left: 30px;
padding-top: 9px;
font-size: 30;
}

.ask {
width: 110px;
border-style: solid;
text-align: right;
margin-right: 10%
}

.ask a {
display: block;
color: white;
background-color: rgb(102, 177, 251);
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 15px;
}

.ask a:hover {
background-color: darkblue;
}

.mid {
overflow: hidden;
display: flex;
align-items: center;
justify-content: space-between;
}

.num_q {
position: relative;
padding: 20px 0 0 30px;
font-size: 25px;
width: 50%;
}

.sorting-options {
display: flex;
position: relative;
margin: 10px 15%;
padding-top: 15px;

}

.sorting-options button{
cursor: pointer;
border-radius: 0px;
padding: 7px 15px;
background-color: white;
}

.sorting-options button:hover {
background-color: lightgray;
}

table {
width: 100%;
border-collapse: collapse;
}

td:first-child{
border-right: 2.5px dotted gray;
width: 20%;
}

.content{
  border-bottom: 2.5 dotted gray;
}
